<div class="breadcrumb">
  <div class="container">
    <div class="d-flex justify-content-center text-white align-items-center h-100">
      <p class="text-center">📦 Free Shipping on all orders over $140. Terms & Conditions apply 📦</p>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Breadcrumb Banner",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Breadcrumb Banner"
      }
    ]
  }
{% endschema %}

{%- style -%}
  .breadcrumb {
    height: 51px;
    background: #191919;
    margin-bottom: 0 !important;
  }
{%- endstyle -%}