<div class="account-newsletter">
  <h2 class="account-dashboard-title py-4">Newsletter</h2>
  <p class="account-news-topic-1 py-3">SUBSCRIPTION</p>
  <p class="account-dashboard-desc py-3">Logged in as
    <span>beaveradmin@company.com</span>
  </p>
  <div class="account-dashboard-image pb-3 small-show">
    <img
      class="account-mobile-logo"
      src="https://cdn.shopify.com/s/files/1/0733/7354/8818/files/Image_430x.svg?v=1686084946"
      alt="">
  </div>
  <p class="account-news-sub-title py-4">You are already subscribed!</p>
  <p class="account-news-desc py-4">Check your email for your 10% OFF your first order, we'll notify you about the latest news and updates. No spam, we promise!</p>
  <button class="account-news-btn button button--primary my-4">UNSUBSCRIBE</button>
</div>
{% style %}
  .account-news-title {
    font-family: Tiempos Headline;
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-news-topic-1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-news-topic-2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-news-topic-2 span {
    color: #FA285A;
  }
  .account-news-sub-title {
    font-family: Tiempos Headline;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-news-desc {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #58565C;
  }
  .account-news-btn {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
{% endstyle %}