<div class="account-orders">
  <h2 class="account-dashboard-title py-4">Order History</h2>
  <p class="account-orders-topic-1 py-3">YOUR ORDERS WITH BEAVER TREATS</p>
  <p class="account-dashboard-desc py-3">Logged in as
    <span>beaveradmin@company.com</span>
  </p>
  <div class="account-dashboard-image pb-3 small-show">
    <img
      class="account-mobile-logo"
      src="https://cdn.shopify.com/s/files/1/0733/7354/8818/files/Image_430x.svg?v=1686084946"
      alt="">
  </div>
  <p class="account-orders-topic-3 py-3">{% render 'icon-cry' %} &nbsp;You haven't placed any orders yet.</p>
  <button class="account-orders-btn button button--primary my-4">BROWSE PRODUCTS</button>
</div>
{% style %}
  .account-orders-title {
    font-family: Tiempos Headline;
    font-size: 54px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-orders-topic-1 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-orders-topic-2 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-orders-topic-2 span {
    color: #FA285A;
  }
  .account-orders-sub-title {
    font-family: Tiempos Headline;
    font-size: 26px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
  .account-orders-desc {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
    color: #58565C;
  }
  .account-orders-btn {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #191919;
  }
{% endstyle %}