<div class="account-nav">
  <h2 class="pb-4">BY CATEGORY</h2>
  <nav class="nav nav-pills flex-column">
    <a
      class="nav-link nav-item active"
      data-bs-toggle="pill"
      data-bs-target="#nav-dashboard">Shop All</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-details">Chocolate Bars</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-orders">Chocolate Tablets</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Chocolate Boxes</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Milk Chocolate</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">White Chocolate</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Dark Chocolate</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Semisweet Chocolate</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Bittersweet Chocolate</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Unsweetened Chocolate</a>
  </nav>
  <hr/>
  <h2 class="py-4">BY ORIGIN</h2>
  <nav class="nav nav-pills flex-column">
    <a
      class="nav-link nav-item active"
      data-bs-toggle="pill"
      data-bs-target="#nav-dashboard">Switzerland</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-details">Belgium</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-orders">Italy</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">The United Kingdom</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">France</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Germany</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Austria</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Poland</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">The United States</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Ecuador</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Japan</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Indonesia</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">New Zealand</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Sweden</a>
    <a
      class="nav-link nav-item"
      data-bs-toggle="pill"
      data-bs-target="#nav-newsletter">Sweden</a>
  </nav>
</div>

{%- style -%}
  .nav .active {
    padding: 15px;
    background-color: #FA285A !important;
    color: #fff !important;
  }
  .account-nav a {
    padding-left: 0;
  }
  .account-nav {
    padding: 25px;
  }
  .account-nav hr {
    background-color: #58565C;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .account-nav h2 {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0;
    text-align: left;
    color: #000216;
  }
  .nav-item {
    cursor: pointer !important;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #58565C;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .nav-item-1 {
    cursor: pointer !important;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #58565C;
    border-bottom: 2px solid #191919;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .nav-item:hover {
    color: #58565C;
  }
  .nav-item-2 {
    cursor: pointer !important;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0;
    text-align: left;
    color: #58565C;
    border-bottom: 1px solid #F2F0FF;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
{%- endstyle -%}