{% comment %}
Renders a list of product's price (regular, sale)

Accepts:
- product: {Object} Product Liquid object (optional)
- use_variant: {Boolean} Renders selected or first variant price instead of overall product pricing (optional)
- show_badges: {Boolean} Renders 'Sale' and 'Sold Out' tags if the product matches the condition (optional)
- price_class: {String} Adds a price class to the price element (optional)

Usage:
{% render 'price', product: product %}
{% endcomment %}
{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price | default: 1999
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign money_price = price | money
  -%}

<div class="card-product-price pt-2">
  <p>
    {%- if compare_at_price != price -%}
      <span class="card-product-price-compare-at-price pr-2">{{ compare_at_price | money }}</span>
      <span class="card-product-price-compare-price">{{ money_price }}</span>
    {%- else -%}
      <span class="card-product-main-price">{{ money_price }}</span>
    {%- endif -%}
  </p>
</div>

{% style %}
  
{% endstyle %}